[Unit]
Description=MIDI lights for CHS
StartLimitIntervalSec=0
BindsTo=dev-snd-by\x2did-usb\x2dWORLDE_W\x2dP64_001011020202\x2d00.device

[Service]
Type=simple
ExecStart=/opt/chs/lights-xmit --config /etc/chs/config.json
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=journal
Restart=always
RestartSec=5
User=chs
Group=chs
Environment="RUST_LOG=info"

[Install]
WantedBy=multi-user.target
