[Unit]
Description=MIDI lights for CHS
StartLimitIntervalSec=0
StopWhenUnneeded=true

[Service]
Type=simple
ExecStart=/opt/chs/lights-xmit --config /etc/chs/config.json
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=journal
Restart=always
RestartSec=5
User=chs
Group=chs
Environment=RUST_LOG=debug
Environment=RUST_BACKTRACE=1
